<form class="{{cssClass}}" autocomplete="off">
    <div class="stickyHeader">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
            <div class="item-resource">
                <table>
                    <tr>
                        <th>Quantity</th>
                        <th>Price</th>
                    </tr>
                    <tr>
                        <td><input type="text" name="data.quantity" value="{{data.quantity}}" data-dtype="Number"/></td>
                        <td><input type="text" name="data.price" value="{{data.price}}" data-dtype="Number"></td>
                    </tr>
                    <tr>
                        <th>ENC</th>
                        <th>EL</th>
                    </tr>
                    <tr>
                        <td><input type="text" name="data.enc" value="{{data.enc}}" data-dtype="Number"/></td>
                        <td><input type="text" name="data.enchant_level" value="{{data.enchant_level}}" data-dtype="Number"></td>
                    </tr>
                </table>
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs3 tabs" data-group="primary">
        <a class="item" data-tab="description">Description</a>
        <a class="item" data-tab="attributes">Attributes</a>
    </nav>
    </div>

    {{!-- Sheet Body --}}
    <section class="sheet-body-items">

        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            {{editor content=data.description target="data.description" button=true owner=owner editable=this.options.editable}}
        </div>

        {{!-- Attributes Tab --}}
        <div class="tab" data-group="primary" data-tab="attributes">
            <table class="field-inputs-small">
                <tr>
                    <th colspan="9">Resistances & Weaknesses</th>
                </tr>
                <tr>
                    <th>Disease %</th>
                    <th>Fire</th>
                    <th>Frost</th>
                    <th>Shock</th>
                    <th>Poison</th>
                    <th>Magic</th>
                    <th>Tough</th>
                    <th>Silver</th>
                    <th>Sunlight</th>
                </tr>
                <tr>
                    <td><input type="text" name="data.diseaseR" value="{{data.diseaseR}}" data-dtype="Number"></td>
                    <td><input type="text" name="data.fireR" value="{{data.fireR}}" data-dtype="Number"></td>
                    <td><input type="text" name="data.frostR" value="{{data.frostR}}" data-dtype="Number"></td>
                    <td><input type="text" name="data.shockR" value="{{data.shockR}}" data-dtype="Number"></td>
                    <td><input type="text" name="data.poisonR" value="{{data.poisonR}}" data-dtype="Number"></td>
                    <td><input type="text" name="data.magicR" value="{{data.magicR}}" data-dtype="Number"></td>
                    <td><input type="text" name="data.natToughnessR" value="{{data.natToughnessR}}" data-dtype="Number"></td>
                    <td><input type="text" name="data.silverR" value="{{data.silverR}}" data-dtype="Number"></td>
                    <td><input type="text" name="data.sunlightR" value="{{data.sunlightR}}" data-dtype="Number"></td>
                </tr>
            </table>
            <table class="field-inputs-small">
                <tr>
                    <th>Attribute</th>
                    <th>Toggle</th>
                </tr>
                <tr>
                    <td>Exclude from current ENC</td>
                    <td><input type="checkbox" name="data.excludeENC" {{checked data.excludeENC}}></td>
                </tr>
            </table>
        </div>
    </section>
</form>
