<form class="{{cssClass}}" autocomplete="off">
    <div class="stickyHeader">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
            <div class="item-resource">
                <table>
                    <tr>
                        <th>Level</th>
                        <th>XP Cost</th>
                    </tr>
                    <tr>
                        <td><input type="text" name="data.level" value="{{data.level}}" data-dtype="Number"/></td>
                        <td><input type="text" name="data.xpCost" value="{{data.xpCost}}" data-dtype="Number"></td>
                    </tr>
                    <tr>
                        <th>Required Talents</th>
                        <th>Skill/Character Requirements</th>
                    </tr>
                    <tr>
                        <td><input type="text" name="data.talentReq" value="{{data.talentReq}}" data-dtype="String"/></td>
                        <td><input type="text" name="data.miscReq" value="{{data.miscReq}}" data-dtype="String"></td>
                    </tr>
                </table>
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs3 tabs" data-group="primary">
        <a class="item" data-tab="description">Description</a>
        <a class="item" data-tab="attributes">Attributes</a>
    </nav>
    </div>

    {{!-- Sheet Body --}}
    <section class="sheet-body-items">

        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
        </div>

        {{!-- Attributes Tab --}}
        <div class="tab" data-group="primary" data-tab="attributes">
            <table class="field-inputs-small">
                <tr>
                    <th colspan="9">Resistances & Weaknesses</th>
                </tr>
                <tr>
                    <th>Disease %</th>
                    <th>Fire</th>
                    <th>Frost</th>
                    <th>Shock</th>
                    <th>Poison</th>
                    <th>Magic</th>
                    <th>Toughness</th>
                    <th>Silver</th>
                    <th>Sunlight</th>
                </tr>
                <tr>
                    <td><input type="text" name="data.diseaseR" value="{{data.diseaseR}}" data-dtype="Number"></td>
                    <td><input type="text" name="data.fireR" value="{{data.fireR}}" data-dtype="Number"></td>
                    <td><input type="text" name="data.frostR" value="{{data.frostR}}" data-dtype="Number"></td>
                    <td><input type="text" name="data.shockR" value="{{data.shockR}}" data-dtype="Number"></td>
                    <td><input type="text" name="data.poisonR" value="{{data.poisonR}}" data-dtype="Number"></td>
                    <td><input type="text" name="data.magicR" value="{{data.magicR}}" data-dtype="Number"></td>
                    <td><input type="text" name="data.natToughnessR" value="{{data.natToughnessR}}" data-dtype="Number"></td>
                    <td><input type="text" name="data.silverR" value="{{data.silverR}}" data-dtype="Number"></td>
                    <td><input type="text" name="data.sunlightR" value="{{data.sunlightR}}" data-dtype="Number"></td>
                </tr>
            </table>
            <table class="field-inputs-small">
                <tr>
                    <th>Toggle</th>
                    <th>Replace Values with 3x Characteristic</th>
                    <th>Characteristic</th>
                </tr>
                <tr>
                    <td><input type="checkbox" name="data.replace.ini.iniToggle" {{checked data.replace.ini.iniToggle}}></td>
                    <td>Replace Initiative</td>
                    <td><select name="data.replace.ini.characteristic" data-type="String">
                        {{#select data.replace.ini.characteristic}}
                        {{#each data.characteristics as |characteristics key|}}
                        <option value="{{key}}">{{characteristics}}</option> 
                        {{/each}} {{/select}}
                    </select></td>
                </tr>
                <tr>
                    <td><input type="checkbox" name="data.replace.wt.wtToggle" {{checked data.replace.wt.wtToggle}}></td>
                    <td>Replace Wound Threshold</dh>
                    <td><select name="data.replace.wt.characteristic" data-type="String">
                        {{#select data.replace.wt.characteristic}}
                        {{#each data.characteristics as |characteristics key|}}
                        <option value="{{key}}">{{characteristics}}</option> 
                        {{/each}} {{/select}}
                    </select></td>
                </tr>
            </table>
            <table class="field-inputs-small">
                <tr>
                    <th>HP+</th>
                    <th>MP+</th>
                    <th>SP+</th>
                    <th>LP+</th>
                    <th>WT+</th>
                    <th>Init.+</th>
                    <th>Speed+</th>
                    <th>Fly+</th>
                    <th>Swim+</th>
                </tr>
                <tr>
                    <td><input type="text" name="data.hpBonus" value="{{data.hpBonus}}" data-dtype="Number"></td>
                    <td><input type="text" name="data.mpBonus" value="{{data.mpBonus}}" data-dtype="Number"></td>
                    <td><input type="text" name="data.spBonus" value="{{data.spBonus}}" data-dtype="Number"></td>
                    <td><input type="text" name="data.lpBonus" value="{{data.lpBonus}}" data-dtype="Number"></td>
                    <td><input type="text" name="data.wtBonus" value="{{data.wtBonus}}" data-dtype="Number"></td>
                    <td><input type="text" name="data.iniBonus" value="{{data.iniBonus}}" data-dtype="Number"></td>
                    <td><input type="text" name="data.speedBonus" value="{{data.speedBonus}}" data-dtype="Number"></td>
                    <td><input type="text" name="data.flyBonus" value="{{data.flyBonus}}" data-dtype="Number"></td>
                    <td><input type="text" name="data.swimBonus" value="{{data.swimBonus}}" data-dtype="Number"></td>
                </tr>
            </table>
            <table class="field-inputs-small">
                <tr>
                    <th>Attribute</th>
                    <th>Toggle</th>
                </tr>
                <tr>
                    <th>1/2 Fatigue Penalty</th>
                    <td><input type="checkbox" name="data.halfFatiguePenalty" {{checked data.halfFatiguePenalty}}></td>
                </tr>
                <tr>
                    <th>1/2 Wound Penalty</th>
                    <td><input type="checkbox" name="data.halfWoundPenalty" {{checked data.halfWoundPenalty}}></td>
                </tr>
                <tr>
                    <th>+INT to Magicka</th>
                    <td><input type="checkbox" name="data.addIntToMP" {{checked data.addIntToMP}}></td>
                </tr>
                <tr>
                    <th>No Untrained Combat Penalty</th>
                    <td><input type="checkbox" name="data.untrainedException" {{checked data.untrainedException}}></td>
                </tr>
                <tr>
                    <th>Add 1/2 Speed</th>
                    <td><input type="checkbox" name="data.addHalfSpeed" {{checked data.addHalfSpeed}}></td>
                </tr>
            </table>
        </div>
    </section>
</form>
