.worldbuilding {
  /* Sheet Tabs */
  /* Items List */
  /* Attributes */
}

@font-face {
  font-family: "cyrodiil";
  src: url("../fonts/cyrodiil/cyrodiil.ttf");
}
.worldbuilding .editor {
  min-height: 200px;
}
.worldbuilding .editor-content {
  min-height: 200px;
  margin-left: 10px;
  margin-top: 10px;
}
.worldbuilding table {
  font-size: 12px;
}
.worldbuilding .window-content {
  height: 100%;
  padding: 0px;
  overflow-y: scroll;
  overflow-x: hidden;
  min-width: 200px;
  background: url("../images/parchment6.jpg");
  background-repeat: repeat;
  background-attachment: local;
}
.worldbuilding .stickyHeader {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: url("../images/parchment6.jpg");
  z-index: +2;
}
.worldbuilding .sheet-header {
  height: 180px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  margin-bottom: 10px;
}
.worldbuilding .sheet-body {
  overflow-y: hidden;
  overflow-x: hidden;
  margin-left: 2%;
  margin-right: 2%;
}
.worldbuilding .sheet-body-items {
  overflow-y: auto;
  overflow-x: hidden;
  margin-left: 2%;
  margin-right: 2%;
}
.worldbuilding .resources {
 display: inline-block;
}
.worldbuilding .sheet-header .profile-img {
  flex: 0 0 180px;
  height: 180px;
  margin-right: 10px;
  border: none;
}
.worldbuilding .sheet-tabs {
  background-color: rgba(219, 181, 77, 0.808);
  font-family: "cyrodiil";
  src: url("../fonts/cyrodiil/cyrodiil.ttf");
  font-size: larger;
}
.worldbuilding .sheet-tabs2 {
  background-color: rgba(189, 116, 106, 0.808);
  font-family: "cyrodiil";
  src: url("../fonts/cyrodiil/cyrodiil.ttf");
  font-size: larger;
}
.worldbuilding .sheet-tabs3 {
  background-color: rgba(112, 172, 142, 0.808);
  font-family: "cyrodiil";
  src: url("../fonts/cyrodiil/cyrodiil.ttf");
  font-size: larger;
}
.worldbuilding .charname {
  font-family: "cyrodiil";
  src: url("../fonts/cyrodiil/cyrodiil.ttf");
}
.worldbuilding .resource-label {
  font-family: "cyrodiil";
  src: url("../fonts/cyrodiil/cyrodiil.ttf");
  display: block;
  text-align: center;
  width: 95px;
  font-size: larger;
}
.worldbuilding .resource-hp {
  font-family: "cyrodiil";
  src: url("../fonts/cyrodiil/cyrodiil.ttf");
  background: firebrick;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: x-large;
  color: white;
  margin-left: 5px;
}
.worldbuilding .resource-hp-max {
  font-family: "cyrodiil";
  src: url("../fonts/cyrodiil/cyrodiil.ttf");
  background:firebrick;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: larger;
  color: white;
  margin-right: 3px;
}
.worldbuilding .resource-mp {
  font-family: "cyrodiil";
  src: url("../fonts/cyrodiil/cyrodiil.ttf");
  background: #1E90FF;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: x-large;
  color: white;
  margin-left: 5px;
}
.worldbuilding .resource-mp-max {
  font-family: "cyrodiil";
  src: url("../fonts/cyrodiil/cyrodiil.ttf");
  background: #1E90FF;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: larger;
  color: white;
}
.worldbuilding .resource-sp {
  font-family: "cyrodiil";
  src: url("../fonts/cyrodiil/cyrodiil.ttf");
  background: #228B22;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: x-large;
  color: white;
  margin-left: 5px;
}
.worldbuilding .resource-sp-max {
  font-family: "cyrodiil";
  src: url("../fonts/cyrodiil/cyrodiil.ttf");
  background: #228B22;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: larger;
  color: white;
}
.worldbuilding .resource-lp {
  font-family: "cyrodiil";
  src: url("../fonts/cyrodiil/cyrodiil.ttf");
  background: purple;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: x-large;
  color: white;
  margin-left: 5px;
}
.worldbuilding .resource-lp-max {
  font-family: "cyrodiil";
  src: url("../fonts/cyrodiil/cyrodiil.ttf");
  background:purple;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: larger;
  color: white;
}
.worldbuilding .skill-table {
  text-align: center;
  font-size: 15px;
  margin-top: 5px;
  font-family: "cyrodiil";
  src: url("../fonts/cyrodiil/cyrodiil.ttf");
}
.worldbuilding .core-sidebar1 {
  text-align: center;
  float: left;
  width: 20%;
  padding-right: 5px;
  border-right: groove;
}
.worldbuilding .core-sidebar2 {
  text-align: center;
  width: 80%;
  float: right;
  font-size: 15px;
  margin-top: 5px;
  padding-left: 5px;
}
.worldbuilding .xpPoints {
  text-align: center;
  border-radius: 30%;
  width: 100%;
}
.worldbuilding .bioHeader {
  font-family: "cyrodiil";
  src: url(../fonts/cyrodiil/cyrodiil.ttf);
  text-align: center;
}
.worldbuilding .derived_attributes_table {
  text-align: center;
  width: 10%;
  float: left;
  margin-top: 5px;
  font-family: "cyrodiil";
  src: url("../fonts/cyrodiil/cyrodiil.ttf");
}
.worldbuilding .skills-header {
  font-family: "cyrodiil";
  src: url(../fonts/cyrodiil/cyrodiil.ttf);
  font-size: 15px;
  background-color: rgba(219, 181, 77, 0.808);
}
.worldbuilding .actionPoints {
  text-align: center;
  padding: 10px;
}
.worldbuilding .size_table {
  font-family: "cyrodiil";
  src: url(../fonts/cyrodiil/cyrodiil.ttf);
  width: 10%;
}
.worldbuilding .combat-sidebar {
  float: right;
  padding-left: 5px;
  width: 70%;
  border-right: groove;
}
.worldbuilding .combat-sidebar2 {
  float: left;
  padding-right: 5px;
  width: 30%;
  border-right: groove;
}
.worldbuilding .combat-sidebar2 .ap-inputs {
  text-align: center;
}
.worldbuilding .combat_table {
  margin-top: 2px;
  text-align: center;
  font-weight: bold;
}
.worldbuilding .combat_table_header {
  font-family: "cyrodiil";
  src: url(../fonts/cyrodiil/cyrodiil.ttf);
  font-size: large;
  margin-top: 2px;
  text-align: center;
  background-color: rgba(219, 181, 77, 0.808);
}
.worldbuilding .combat_table_header2 {
  font-family: "cyrodiil";
  src: url(../fonts/cyrodiil/cyrodiil.ttf);
  font-size: large;
  margin-top: 2px;
  text-align: center;
  background-color: rgba(189, 116, 106, 0.808);
}
.worldbuilding .item-list {
  list-style: none;
  margin: 7px 0;
  padding: 0;
  width: 100%;
  float: left;
}
.worldbuilding .item-list .item-img {
  position: relative;
  right: 80px;
}
.worldbuilding .item-list .item-name {
  position: relative;
  right: 75px;
}
.worldbuilding .item-resource {
  text-align: center;
}
.worldbuilding .skills-list {
  list-style: none;
  margin: 7px 0;
  padding: 0;
  width: 100%;
  float: left;
  text-align: center;
}
.worldbuilding .combat-list {
  list-style: none;
  margin: 7px 0;
  padding: 0;
  width: 100%;
  float: left;
  text-align: center;
}
.worldbuilding .combat-list .item {
  height: 30px;
  line-height: 25px;
  padding: 3px 0;
  border-bottom: 1px solid #BBB;
}
.worldbuilding .combat-list label {
  width: 10px;
  text-align: center;
}
.worldbuilding .combat-list .item img {
  flex: 0 0 24px;
  margin-right: 5px;
}
.worldbuilding .combat-list .item-name {
  margin: 0;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.worldbuilding .combat-list .item-cat {
  text-align: left;
  margin-right: -240px;
  margin-left: -50px;
}
.worldbuilding .combat-list .item-equip {
  position: relative;
  text-align: left;
  margin-right: -250px;
  margin-left: -50px;
  left: 25px;
}
.worldbuilding .combat-list .item-cat .ammo-field {
  width: 30px;
  text-align: center;
  position: relative;
  right: 90px;
  border-radius: 50%;
}
.worldbuilding .combat-list .ammo-controls {
  text-align: center;
  position: relative;
  right: 55px;
  top: 15px;
}
.worldbuilding .combat-list .ammo-controls a {
  display: block;
  position: relative;
  bottom: 2px;
  margin-bottom: -20px;
  height: 5px;
}
.worldbuilding .combat-list .ammo-controls .ammo-plus {
  text-align: center;
  background-color: transparent;
  font-weight: bold;
  border-radius: 50%;
  padding: 5px;
  width: 10px;
  height: 5px;
}
.worldbuilding .combat-list .ammo-controls .ammo-minus {
  text-align: center;
  background-color: transparent;
  font-weight: bold;
  border-radius: 50%;
  padding: 5px;
  width: 10px;
  height: 5px;
}
.worldbuilding .combat-list .ammo-controls .ammo-plus:hover {
  background-color: green;
}
.worldbuilding .combat-list .ammo-controls .ammo-minus:hover {
  background-color: red;
}
.worldbuilding .combat-list .item-name:hover {
  font-weight: bold;
}
.worldbuilding .combat-list .item-controls {
  flex: 0 0 20px;
  margin-left: 0px;
  z-index: +1;
}
.worldbuilding .ability-list {
  display: inline-block;
  margin: 7px 0;
  margin-left: 15px;
  padding: 0;
  width: 100%;
}
.worldbuilding .ability-list li {
  float: left;
  list-style: outside none none;
  width: 50%;
}
.worldbuilding .ability-list .item img {
  flex: 0 0 24px;
  margin-right: 5px;
  margin-left: -30px;
}
.worldbuilding .ability-list .item {
  height: 30px;
  line-height: 25px;
  padding: 3px 0;
  border-bottom: 1px solid #BBB;
}
.worldbuilding .ability-list label {
  width: 10px;
  text-align: center;
}
.worldbuilding .ability-list .item-category {
  margin: 0;
}
.worldbuilding .ability-list .item-name {
  margin-right: -60px;
  margin-left: 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.worldbuilding .ability-list .item-name:hover {
  font-weight: bold;
}
.worldbuilding .item-img:hover {
  zoom: 1.05;
}
.worldbuilding .ability-list .item-controls {
  flex: 0 0 36px;
  margin-right: 5px;
  margin-left: 0px;
}
.worldbuilding .ability-list .item-cat {
  text-align: right;
  margin-right: 5px;
  margin-left: 0;
}



.worldbuilding .talents-list {
  display: inline-block;
  margin: 7px 0;
  margin-left: 15px;
  padding: 0;
  width: 100%;
}
.worldbuilding .talents-list li {
  float: left;
  list-style: outside none none;
  width: 50%;
}
.worldbuilding .talents-list .item img {
  flex: 0 0 24px;
  margin-right: 5px;
  margin-left: 0px;
}
.worldbuilding .talents-list .item {
  height: 30px;
  line-height: 25px;
  padding: 3px 0;
  border-bottom: 1px solid #BBB;
}
.worldbuilding .talents-list label {
  width: 10px;
  text-align: center;
}
.worldbuilding .talents-list .item-category {
  margin: 0;
}
.worldbuilding .talents-list .item-name {
  margin-right: -60px;
  margin-left: 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.worldbuilding .talents-list .item-name:hover {
  font-weight: bold;
}
.worldbuilding .item-img:hover {
  zoom: 1.1;
}
.worldbuilding .talents-list .item-controls {
  flex: 0 0 36px;
  margin-right: 5px;
  margin-left: 0px;
}
.worldbuilding .talents-list .item-cat {
  text-align: right;
  margin-right: 5px;
  margin-left: 0;
}





.worldbuilding .weapon-header {
  text-align: center;
}
.worldbuilding .item-list-resource input {
  width: 20%;
  height: 18px;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 20px;
  margin-top: 1px;
}
.worldbuilding .item-list .item {
  height: 30px;
  line-height: 25px;
  padding: 3px 0;
  border-bottom: 1px solid #BBB;
}
.worldbuilding .item-list label {
  width: 10px;
  text-align: center;
}
.worldbuilding .item-list .item img {
  flex: 0 0 24px;
  margin-right: 5px;
  margin-left: -75px;
}
.worldbuilding .item-list .item-name {
  margin: 0;
  margin-right: -80px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.worldbuilding .item-list .item-name:hover {
  font-weight: bold;
}
.worldbuilding .item-list .item-controls {
  flex: 0 0 20px;
  margin-left: 0px;
}
.worldbuilding .spell-list {
  display: inline-block;
  margin: 7px 0;
  margin-left: 5px;
  padding: 0;
  width: 100%;
}
.worldbuilding .spell-list li {
  float: left;
  list-style: outside none none;
  width: 50%;
}
.worldbuilding .spell-list-resource input {
  width: 20%;
  height: 18px;
  text-align: center;
  margin-left: 15px;
  margin-right: 5px;
  margin-bottom: 20px;
  margin-top: 1px;
}
.worldbuilding .spell-list .item {
  height: 30px;
  line-height: 25px;
  padding: 3px 0;
  border-bottom: 1px solid #BBB;
}
.worldbuilding .spell-list label {
  width: 10px;
  text-align: center;
}
.worldbuilding .spell-list .item img {
  flex: 0 0 24px;
  margin-right: 5px;
  margin-left: -45%;
}
.worldbuilding .spell-list .item-name {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.worldbuilding .spell-list .item-name:hover {
  font-weight: bold;
}
.worldbuilding .spell-list .item-controls {
  flex: 0 0 36px;
  margin-right: 5px;
  margin-left: 0px;
}
.worldbuilding .itemHeader {
  font-family: "cyrodiil";
  src: url(../fonts/cyrodiil/cyrodiil.ttf);
  display: flex;
  align-items: left;
}
.worldbuilding .itemHeader .talentsLabel {
  text-align: left;
  position: relative;
  font-size: large;
  left: 10px;
}
.worldbuilding .field-inputs-small {
  text-align: center;
  font-size: small;
  font-weight: bold;
}
.worldbuilding .field-inputs {
  text-align: center;
}
.worldbuilding .tall-input {
  text-align: center;
  line-height: 140%;
}
.worldbuilding .characteristic-roll {
  font-family: "cyrodiil";
  src: url(../fonts/cyrodiil/cyrodiil.ttf);
  background-color: transparent;
  font-weight: bold;
  border-radius: 10%;
  border-style: groove;
  padding: 5px;
}
.worldbuilding .characteristic-roll:hover {
  border-color: black;
  background-color: red;
  color: white;
}
.worldbuilding .skill-roll {
  background-color: transparent;
  font-weight: bold;
  margin-right: -70px;
}
.worldbuilding .skill-roll:hover {
  font-weight: bold;
}
.worldbuilding .professions-roll {
  font-family: "cyrodiil";
  src: url(../fonts/cyrodiil/cyrodiil.ttf);
  background-color: transparent;
  font-weight: bold;
  border-radius: 10%;
  border-style: groove;
  padding: 5px;
}
.worldbuilding .professions-roll:hover {
  border-color: black;
  background-color: red;
  color: white;
}
.worldbuilding .magic-skill-roll {
  font-family: "cyrodiil";
  src: url(../fonts/cyrodiil/cyrodiil.ttf);
  background-color: transparent;
  font-weight: bold;
  border-radius: 10%;
  border-style: groove;
  padding: 5px;
}
.worldbuilding .magic-skill-roll:hover {
  border-color: black;
  background-color: red;
  color: white;
}
.worldbuilding .resistance-roll {
  background-color: transparent;
  font-weight: bold;
  border-radius: 10%;
  border-style: groove;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
}
.worldbuilding .resistance-roll:hover {
  border-color: black;
  background-color: red;
  color: white;
}
.worldbuilding .unconventional-roll {
  font-family: "cyrodiil";
  src: url(../fonts/cyrodiil/cyrodiil.ttf);
  background-color: transparent;
  font-weight: bold;
  border-radius: 10%;
  border-style: groove;
  padding: 5px;
}
.worldbuilding .unconventional-roll:hover {
  border-color: black;
  background-color: red;
  color: white;
}
.worldbuilding .w1Open:hover {
  font-weight: bold;
}
.worldbuilding .damage-roll {
  text-align: left;
  margin-right: -270px;
  margin-left: 5px;
}
.worldbuilding .combat-roll {
  text-align: left;
  margin-right: -270px;
  margin-left: 5px;
}
.worldbuilding .armor-roll {
  text-align: left;
  margin-right: -270px;
  margin-left: 5px;
}
.worldbuilding .magic-roll {
  text-align: left;
  margin-right: -30px;
  margin-left: 5px;
}
.worldbuilding .ammo-roll {
  text-align: left;
  margin-right: -170px;
  margin-left: 5px;
}
.worldbuilding .combat-create {
  position: relative;
  background: none;
  border: groove;
}
.worldbuilding .weapon-create {
  position: relative;
  background: none;
  border: groove;
}
.worldbuilding .ammo-create {
  position: relative;
  right: 0px;
  top: 0px;
  background: none;
  border: groove;
}
.worldbuilding .armor-create {
  position: relative;
  right: 0px;
  top: 0px;
  background: none;
  border: groove;
}
.worldbuilding .gear-create {
  position: relative;
  right: 0px;
  top: 0px;
  background: none;
  border: groove;
}
.worldbuilding .trait-create {
  position: relative;
  background: none;
  border: groove;
}
.worldbuilding .power-create {
  position: relative;
  background: none;
  border: groove;
}
.worldbuilding .talent-create {
  position: static;
  background: none;
  border: groove;
}
.worldbuilding .spell-create {
  position: relative;
  background: none;
  border: groove;
}
.worldbuilding .combat-create:hover {
  background-color: rgba(0, 0, 0, 0.308);
}
.worldbuilding .weapon-create:hover {
  background-color: rgba(0, 0, 0, 0.308);
}
.worldbuilding .ammo-create:hover {
  background-color: rgba(0, 0, 0, 0.308);
}
.worldbuilding .armor-create:hover {
  background-color: rgba(0, 0, 0, 0.308);
}
.worldbuilding .gear-create:hover {
  background-color: rgba(0, 0, 0, 0.308);
}
.worldbuilding .trait-create:hover {
  background-color: rgba(0, 0, 0, 0.308);
}
.worldbuilding .power-create:hover {
  background-color: rgba(0, 0, 0, 0.308);
}
.worldbuilding .talent-create:hover {
  background-color: rgba(0, 0, 0, 0.308);
}
.worldbuilding .spell-create:hover {
  background-color: rgba(0, 0, 0, 0.308);
}
.worldbuilding .combatHeader {
  font-family: "cyrodiil";
  src: url(../fonts/cyrodiil/cyrodiil.ttf);
  text-align: left;
  font-size: large;
  display: flex;
}
.worldbuilding .combatHeader .combatLabel {
  text-align: left;
  position: relative;
  font-size: large;
  left: 10px;
}

